<h1>Rooms#show</h1>

<div id="messages">
  <%= render @messages %>
</div>

<div>
  <input id="content" type="text" />
  <input type="button" onclick="App.room.speak($('#content').val()); $('#content').val('').focus();" value="Send" />
</div>
